{% extends 'base.html' %}

{% block title %}
SequenceParse
{% endblock title %}

{% block body %}
            <div id='columns'>
                <ul>
                    <li>
                        <h1>SequenceParse</h1>
                        <h3>Parst sequenties</h3>
                        <form method='post'>
                            <label for='seq'>Voer hier je sequentie in</label>
                            <input type='text' name='seq'>
                            <button name='forwardBtn' type='submit'>CONVERT!!</button>
                        </form>
                        <pre>{{output }}</pre>
                    </li>
                </ul>
            </div>
{% endblock body %}